body {
  margin: 0;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
.main {
    background-color: #00cc00
}
.footer {
    background-color: #6666ff
}
/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
